.about_menu {
    box-sizing: border-box;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0px;
    padding: 2px 12px;
    background-color: #050a3d;
}

.about_menu__item {
    color: #ededed;
    text-decoration: none;
    padding: 1px 12px;
    font-family: Verdana;
    font-size: 14px;
}

.about_menu__item:hover {
    color: #ffffff;
}

.main_header {
    box-sizing: border-box;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 12px;
    background-color: #ffffff;
    border-bottom: 1px double #050a3d60;
}

.site_logo_culumn {
    margin-right: 6px;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;
}

.site_logo_culumn a{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: none;
    cursor: default;
}

.site_icon {
    margin: 2px 8px 2px 0px;
    width: 80px;
    height: 80px;
}

.site_name {
    white-space: nowrap;
    margin: 4px 8px 8px 8px;
    color: #050a3d;
    font-family: Salsa;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}


.search_form_culumn {
    width: 100%;
/*    position: absolute;*/
/*    left:calc(50% - 30vw/2);*/
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
/*    display: none;*/
}

.search_form_row {
    width: 100%;
    min-width: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.search_form {
    width: 90%;
    height: 44px;
    margin: 2px 2px 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 14px;
    align-self: stretch;
    border: 3px solid rgba(5, 10, 61, 1);
}

.search_input {
    font-size: 18px;    
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    float: none;
    padding-left: 10px;
}

input::placeholder {
/*    font-size: calc(0.4vw + 14px);*/
    font-size: 18px;
    color: rgba(0, 0, 10, 0.8);
}




.search_button {
    background-color: transparent;
    border: none;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    allign-items: center;
    font-family: arial, sans-serif;
    color: #050A3D;
    fill: #050A3D;
    cursor: pointer;
}

.search_button:hover {
    fill: black;
}

.search_svg {
    width: 24px;
    height: 24px;
    fill: inherit;
}

.main_menu {
/*    width: 20S%;*/

    display: flex;
    /*flex-direction: row;
    align-items: flex-end;
    text-decoration: none;
    justify-content: space-around;*/
}

.main_menu__item {
    padding: 4px 4px 4px 4px;
    margin-left: 1vw;
    text-decoration: none;
    font: 14px Verdana;
    text-decoration: none;
    color: #050A3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    fill: #050A3D;
    border-radius: 6px;
}

@media (max-width: 1110px){
    .main_menu__item{
        margin-left: 0px;
    }
}

.main_menu__item:hover {
/*    filter: drop-shadow(0px 2px 2px rgba(0, 0, 2, 0.1));*/
    background-color: rgba(0,0,100,0.1);
}

.main_menu__item_svg {
    text-decoration: none;
    width: 40px;
    height: 40px;
    fill: inherit;
}


.main_menu__item_text {
    padding: 0px 2px;
    font: 16px Verdana;
    text-decoration: none;
    color: #050A3D;
}

@media screen and (max-width: 1070px){
    .main_menu__item_svg{
        width: 38px;
        height: 38px;
    }
    .main_menu__item_text{
        font: 15px Verdana;
/*        display: none;*/
    }
    .search_form {
        height: 40px;
    }
    .search_input {
        font-size: 17px;
    }
    .search_input::placeholder {
        font-size: 17px;
    }
    .main_menu__item_svg{
        width: 35px;
        height: 35px;
    }
    .main_menu__item_text{
        font: 14px Verdana;
/*        display: none;*/
    }
    .site_name {
        font-size: 35px;
    }
    .site_icon {
    margin: 2px 6px 2px 0px;
    width: 70px;
    height: 70px;
}


