/*html {
    height: 100%;
}*/


svg path {
    fill: inherit;
}

body {
    background-color: #ffffff;
    margin: 0px;
}

page {
    min-width: 700px;
}

p,
cite,
input,
textarea {
    font-size: 16px;
    font-family: Verdana, cursive;
}

h2{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 35px;
    color: #050a3d;
}

h5{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    color: #050a3d;
    margin: 10px 0px;
 
}

@media screen and (max-width: 1070px){
    h2{
        font-size: 30px;
    }
    h5{
        font-size: 18px;
     
    }
}

button {
    cursor: pointer;
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a {
    cursor: pointer;
    text-decoration: none;
}


header {
    background-color: #000000;
    color: #050a3d;
    width: 100%;
}


main {
    background-color: #ffffff;
    /*    background-color: #ededed;*/
}

article h5 {
    margin: 4px 18px 4px 12px;
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

article h6 {
    margin: 4px 18px 4px 12px;
    font-size: 19px;
/*    color: rgba(0, 0, 0, 0.8);*/
    color: #050a3d;
    font-family: Calibri, Candara,Segoe, Segoe UI, Optima, Arial, sans-serif;
}

li {
    list-style-type: none;
}

li > h6 {
    font-size: 18px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

ul {
    list-style-type: none;
    margin: 4px 0px 4px 0px;
}


footer {
    min-width: 700px;
    background-color: #050a3d;
    color: #ffffff;
    font-family: Salsa;
    border-top: 1px solid #00000040;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

footer h6 {
    color: #ffffff;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer p {
    color: #ffffff;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page_load_time{
    margin: 10px;
}

.none{
    display: none;
}

.not_none{
    display: block;
}