svg path {
    fill: inherit;
}

body {
    background-color: #ffffff;
    margin: 0px;
}

p,
cite,
input,
textarea {
    font-size: 16px;
    font-family: Verdana, cursive;
}

button {
    font-size: 16px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

a {
    cursor: pointer;
    text-decoration: none
}


header {
    background-color: #000000;
    color: #050a3d;
    width: 100%;
}


main {
    background-color: #ffffff;
/*    background-color: #ededed;*/
}

h6 {

}

li{

}

footer {
    font-family: Salsa;
    border-top: 1px solid #00000090;
    text-align: center;
}

footer p {
    font-family: Luminari, fantasy;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}