.profile_page {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.profile_photo {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile_photo__img {
    width: 10em;
    height: 10em;
    border: 4px solid #050a3d;
    border-radius: 10em;
    text-align: center;
    background-color: red;
}

.profile_photo__text {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-top: 15px;
}

.profile_filling {
    width: 80%;
    /*    padding: 0px;*/
}

.profile_sections_menu {
    margin-bottom: 10px;
    color: #050a3d;
    font: 20px Verdana;
}

.profile_sections_seperator {
    height: 5px;
    background-color: #F5F5F5;
}

.profile_sections_menu__button{
    color: inherit;
    border-radius: 10px 10px 0px 0px;
    /*    background-color: #F5F5F5;*/
    padding: 10px 10px 10px 10px;
}

.profile_sections_menu__button:hover {
    background-color: #F5F5F5;
}

.active {
    background-color: #F5F5F5;
}


.profile_block{
    display: none;
}

#profile_info {
/*    display: block;*/
    background-color: #F5F5F5;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 3% 20px 3%;
}

#profile_info textarea,
p {
/*    width: 100%;*/
    font-size: 18px;
    border: none;
    resize: none;
}

.text_to_change {
    width: 100%;
    height: 100px;
    color: rgba(0, 0, 0, 0.6);
}

.profile_button{
	background-color: inherit;
	font-size: 17px;
	padding: 3px 6px;
	color: #050a3d;
	border: 2px solid #050a3d80;
    border-radius: 6px;
	margin:3% 0px 0px 0px;
}

.profile_button:hover{
	color: white;
	background-color: #050a3d;
}

@media screen and (max-width: 1070px){
    #profile_info textarea,
    p {
        font-size: 17px;
    }
    .profile_button{
        font-size: 16px;
    }
    .profile_sections_menu {
        font-size: 18px;
    }
}
}